:root {
  --color-primary: #FBC508;
  --color-secondary: #2B0955;
  --color-white: #ffffff;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  height: 82px;
  background: var(--color-white);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 23.18px;
}

.btn-social-media {
  font-size: 21px;
}

.btn-menu {
  display: flex;
}

.main-logo {
  display: flex;
  font-weight: bold;
  font-size: 49px;
}

.hero {
  width: 100%;
  height: 1048px;
}

.hero-body {
  padding: 60px 0;
  background-color: var(--color-secondary);
  width: 100%;
  height: 903px;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.hero__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  color: var(--color-white);
}

.hero___subtitle {
  font-size: 18px;
  color: var(--color-white);
}

.hero___subtitle strong {
  color: var(--color-primary);
}

.btn-primary {
  display: inline-block;
  padding: 12px 54px;
  background-color: var(--color-primary);
  border-radius: 10px;
  color: var(--color-secondary);
  font-weight: bold;
  text-decoration: none;
}

.btn-secundary {
  display: inline-block;
  padding: 12px 54px;
  background-color: none;
  border: #ffffff solid 1px;
  border-radius: 10px;
  color: var(--color-white);
  font-weight: bold;
  text-decoration: none;
}

/*.eclipse {
  position: absolute;
  width: 317px;
  height: 317px;
  left: 46px;
  top: 460px;
  background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #FF29C3 100%);
  filter: blur(100px);
}

.retangule {
  position: absolute;
  width: 152.4px;
  height: 215.65px;
  left: 128.3px;
  top: 607.07px;
  background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, #174AFF 100%);
  filter: blur(100px);
}
*/
.img-businessman {
  position: relative;
  width: 600px;
  height: 560px;
  left: -74px;
}

.img-container {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.beneftis {
  width: 100%;
  height: 578px;
  background-color: red;
  /* temporario */
}

.beneftis-container {
  display: flex;
}

@media (min-width: 993px) {

  .hero {
    height: 560px;
  }

  .hero-body {
    height: 460px;
  }

  .btn-menu {
    display: none;
  }

}